<% if @song.errors.any? %>
  <div>
    <strong>There were some issues with your submission:</strong>
    <ul>
      <% @song.errors.full_messages.each do |message| %>
      <li><%=message %> </li>
      <%end%>
    </ul>
  </div>
<%end%>

<form method="post" action="/songs">
  <div class="form-group">
    <label>title</label>
    <input type="text" class="form-control" name="title" value="<%= @song.title%>">
  </div>
  <div class="form-group">
    <label>artist</label>
    <input type="text" class="form-control" name="artist" value="<%= @song.artist%>">
  </div>
  <div class="form-group">
    <label>url</label>
    <input type="text" class="form-control" name="url" placeholder="eg. https://www.youtube.com/watch?v=dQw4w9WgXcQ" value="<%=@song.url%>">
  </div>
  <div>
    <input class="btn btn-default submit-btn" type="submit" value="Submit">
  </div>
</form>